{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), attr:{role:'form'}}) }}
<h2 class="text-center">Регистрация</h2>
    {{ form_widget(form) }}
<div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-block"/>
    </div>
</div>
{{ form_end(form) }}